/*

Template 2080 Minimax

http://www.tooplate.com/view/2080-minimax

*/

body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
    line-height: 30px;
		letter-spacing: 2px;
	}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2,h3 {
  font-weight: bold;
}

hr {
  border-color: #f1b806;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}

/* navigation */
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
    background: #f1b806;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    padding: 20px 20px 40px 20px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
   }
.navbar-brand:hover, .navbar-brand:clicked {
  background: 043211;
}
.navbar-default .navbar-nav li a {
    border-right: 1px solid #f9f9f9;
    color: #202020;
     font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;

	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f1b806;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f1b806;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #043211;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent
}

/* home section */
#home {
  background: url('../images/leaf2.jpg')no-repeat;
  background-size: cover;
  background-position: 50% 67%;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 100px;
}
#home h1 {
  color: #f1b806;
  font-weight: 400;
  padding-bottom: 10px;
}
#home h2 {
  line-height: 10px;
	color: #fff;
	font-weight: 100;
}
#home p {
	color: #fff;
	font-weight: 100;
	font-size: 18px;
}
#home .btn {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
   transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #043211;
  border-color: transparent;
  color: #fff;
}

/* service section */
#service {
  padding-top: 60px;
  padding-bottom: 60px;
}
#service h2 {
  border-left: 2px solid #f1b806;
  display: inline-block;
  padding: 20px;
}
#service .fa {
  border-top: 3px solid #f1b806;
  border-bottom: 3px solid #043211;
  border-radius: 50%;
  font-size: 32px;
  color: #043211;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
}
.services-list {
	padding-top: 50px;
}
.services-list ul {
	font-family: 'Raleway', sans-serif;
}
.services-description {
	padding-top: 50px;
	padding-bottom: 60px;
}
.services-description h2 {
	border-right: 2px solid #f1b806;
  display: inline-block;
  padding: 10px 20px 10px 10px;
	margin-bottom: 60px;	
}

/* about section */
#about {
  padding-top: 40px;
  padding-bottom: 60px;
}
#about h2 {
  border-right: 2px solid #f1b806;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#about img {
  padding: 10px;
}
#about h4 {
  padding-bottom: 10px;
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}

/* copyright section */
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* scrolltop section */
.go-top
  {
    background-color: #f1b806;
    font-size: 26px;
    bottom: 2em;
    right: 2em;
    color: #FFF;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.go-top:hover
  {
    background-color: #444;
	color: #fff;
  }

/* media 960 */
@media only screen and ( max-width: 980px ) {
  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
  }
}

/* media 360 */
@media only screen and ( max-width: 360px ) {
  #team h4 {
    padding-bottom: 30px;
  }
}
